.header {
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
 }
 
 .main-title {
    display: flex;
 }
 
 .title {
    display: flex;
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
 }
 .main-title {
    display: flex;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    flex-wrap: wrap;
    width: 40%;
 }
 button {
    background-color: #3882F6;
    color: white;
    padding: 10px;
    border-radius:1em;
    width: 100px;
 }
 
 .second-text {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
 }

 .section {
   display: flex;
   justify-content: space-around;
 }
 
 .splash {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
 }

 a {
    text-decoration: none;
    color: #E5E7EB
 
 
   
 }

 .header-links {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-size: 18px;
    margin-left: auto;
 }

 .header li {
   margin-left: 20px;
 }
 
 